/* True Food Kitchen - list styling */
.tfk-list { list-style: none; padding: 0; margin: 0; }
.tfk-list li { margin: 0; padding: 0; }
.tfk-list li ul { list-style: none; margin: 0; padding: 0; }
.tfk-list li ul li { margin: 0; padding: 0; }
.tfk-list li > [aria-selected="false"] + ul { display: none; }
.tfk-list .group { margin-bottom: 4px; }
.tfk-list .group-title { background-color: #fff; font-family: 'Brandon Grotesque Bold'; font-size: 18px; display: block; padding: 12px 16px; border-radius: 5px; align-items: center; position: relative; }
.tfk-list .group-title .icon { width: 26px; height: 36px; background-color: #f3f3f3; border-radius: 5px; margin-right: 20px; display: inline-flex; align-items: center; justify-content: center; vertical-align: bottom;  }
.tfk-list .group-title .icon:after { content: ''; width: 8px; height: 8px; border: 2px solid #252525; display: inline-block; border-left-color: transparent !important; border-bottom-color: transparent !important; transform: rotate(45deg); transition: all 0.25s ease-in-out; margin-left: -6px; }
.tfk-list .group-title[aria-selected="true"] { background-color: #f3f3f3; }
.tfk-list .group-title[aria-selected="true"] .icon { background-color: #487426; }
.tfk-list .group-title[aria-selected="true"] .icon:after { transform: rotate(135deg); border-color: #fff; margin: -8px 0 0 0; }
.tfk-list .group-content { padding: 12px 64px; box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); }
.tfk-list .location { border-bottom: 1px solid #487426; padding: 8px 0; }
.tfk-list .location li { color: #4B5862; }
.tfk-list .location li a { color: inherit !important; }
.tfk-list .location li a:hover { color: #487426 !important; }
.tfk-list .location:last-of-type { border: none; }
.tfk-list .location .location-title { font-size: 16px; }
.tfk-list .location .location-status { font-size: 12px; }
.tfk-list .location .location-phone { font-size: 12px; }
.tfk-list .location .location-address { font-size: 12px; }
.tfk-list .event { background-color: rgba(255, 255, 255, 0.2); border: 1px solid #d4d4d4; display: flex; align-items: center; margin: 8px 0; }
.tfk-list .event .left { padding: 24px 5% 24px 10%; }
.tfk-list .event .left img { max-width: 200px; }
.tfk-list .event .right { padding: 24px 10% 24px 5%; text-align: left; font-size: 16px; position: relative; }
.tfk-list .event .right .title { color: #212121; font-family: 'Brandon Grotesque Medium'; font-size: 18px; text-transform: uppercase; }
.tfk-list .event .right .date { line-height: 16px; padding-bottom: 24px; }
.tfk-list .event .right .content { padding-bottom: 24px; }
.tfk-list .event .right .link a { display: inline-block;background-color: #487426; padding: 10px 48px; border-radius: 5px; border: 1px solid transparent; color: #fff !important; font-family: 'Brandon Grotesque Medium'; font-size: 16px; text-transform: uppercase; }
.tfk-list .event .right .link a:hover { background-color: #fff; border-color: #487426; color: #487426 !important; }
.tfk-list .event .right .edit { position: absolute; top: 10px; right: 10px; display: none; padding: 4px; }
.tfk-list .event:hover .right .edit { display: block; }

/* True Food Kitchen - Slick carousel styling */
.tfk-slider { background-color: #eee; height: 0; opacity: 0; transition: all 1s ease-in-out; /* padding (height) can be changed in PHP shortcode */ }
.tfk-slider.slick-initialized { opacity: 1; }
.tfk-slider div { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.tfk-slider .tfk-slide { background-size: cover; background-position: center; }
.tfk-slider .tfk-slide .item { display: flex; justify-content: center; align-items: center; }
.tfk-slider .tfk-slide .item .content { opacity: 0; position: relative; padding: 12px 48px; text-shadow: 0 0 50px #000, 0 0 50px #000; }
.tfk-slider .tfk-slide .item .content h1 { color: #fff; font-family: 'Bernadette Rough'; text-transform: none; margin: 0; }
.tfk-slider .tfk-slide .item .content h2 { color: #fff; font-family: 'Brandon Grotesque Medium' !important; font-size: 96px !important; margin: 0; }
.tfk-slider .tfk-slide .item .content p { color: #fff; font-size: 18px; margin-bottom: 24px; }
.tfk-slider .tfk-slide .item .content a { background-color: rgba(0, 0, 0, 0.5); border: 1px solid #fff; border-radius: 5px; color: #fff !important; font-size: 16px; padding: 10px 32px; text-transform: uppercase; white-space: nowrap; }
.tfk-slider .tfk-slide .item .content a:hover { background-color: #487426; border-color: transparent; }
.tfk-slider.slick-initialized  .tfk-slide .item .content { animation: fade-in 1s ease-in-out; animation-fill-mode: forwards; animation-delay: 0.5s; }
.tfk-slider .slick-arrow { cursor: pointer; opacity: 0; background-color: #fff; border-radius: 50%; border: none; position: absolute; top: calc(50% - 16px); z-index: 1; font-size: 0; width: 32px; height: 32px; text-decoration: none; }
.tfk-slider:hover .slick-arrow, .slick-slider .slick-arrow:focus { opacity: 1; }
.tfk-slider .slick-arrow.slick-prev { left: 12px; }
.tfk-slider .slick-arrow.slick-next { right: 12px; }
.tfk-slider .slick-arrow:before { font-size: 32px; line-height: 12px; color: #000; }
.tfk-slider .slick-arrow.slick-prev:before { content: '\2039'; }
.tfk-slider .slick-arrow.slick-next:before { content: '\203A'; }
.tfk-slider .slick-dots { height: 64px; display: flex; align-items: center; justify-content: center; margin: 0; list-style: none; position: absolute; bottom: 0; width: 100%; line-height: 0; padding: 0; }
.tfk-slider .slick-dots li { display: inline-block; margin: 0 4px; list-style: none; line-height: 0; }
.tfk-slider .slick-dots li button { cursor: pointer; font-size: 0; background-color: transparent; border: 1px solid #fff; color: transparent; width: 16px; height: 16px; padding: 0; border-radius: 50%; }
.tfk-slider .slick-dots li.slick-active button { background-color: #fff; }

/* animations */
@keyframes fade-in { 0% { opacity: 0; transform: translateY(64px); } 100% { opacity: 1; transform: translateY(0px); } }

@media (max-width: 800px) {
    .tfk-slider { height: 75vh; padding: 0; min-height: 480px; }
    .tfk-slider .tfk-slide .item .content h1 { font-size: 24px !important; line-height: 48px !important; }
    .tfk-slider .tfk-slide .item .content h2 { font-size: 56px !important; line-height: 48px !important; margin-bottom: 16px; }
    .tfk-list .event { flex-wrap: wrap; }
    .tfk-list .event .left { width: 100%; padding: 24px; }
    .tfk-list .event .right { width: 100%; padding: 24px; text-align: center; }
}